<!-- <h1>Angular Learning Exercise</h1> -->

<!-- Task-1 : Angular Setup -->

<!-- Task-2: Variable Declaration and Data Binding -->
<!-- <app-task2></app-task2>  -->

<!-- Task-3: Angular lifecycle hook events  -->
<!-- <app-task3></app-task3> -->

<!-- Task-4: Angular routing  -->
<!-- <app-task4></app-task4>  -->

<!-- Task-5: Directives in Angular   -->
<!-- <app-task5></app-task5>  -->

<!-- Task-6: Pipes -->
<!-- <app-task6></app-task6> -->

<!-- Task-7: Angular input output event -->
<!-- <app-task7></app-task7> -->
<!-- <h3>Task-7: Angular input output event </h3>
<br />
<div>
<h5>Send data from parent to child</h5>
<div style="display: flex;">
    <div *ngFor="let data of data">
        <app-task7 [users]='data'></app-task7>
    </div>
</div>
</div>
<div>
    <h5>Send data from child to parent</h5>
    <app-task7-child (metdata)='parenttochildfun($event)'></app-task7-child>
    <ng-component *ngIf="emittedData === ''; then ifBlock else elseBlock"></ng-component>
    <ng-template #ifBlock>
        <p>Data: No data</p>
    </ng-template>
    <ng-template #elseBlock>
        <p>Data: {{emittedData}}</p>
    </ng-template>
</div> -->

<!-- Task-8: Angular reactive form validations -->
<!-- <app-task8></app-task8> -->

<!-- Task-9: CRUD APPLICATION -->
<app-task9></app-task9>